<!DOCTYPE html>
<html ng-app="aruba">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objektprint från Modern Mäklarmedia</title>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,100,200,300,500,600,700|Quicksand:400,300,700" rel="stylesheet" type="text/css">
    <link href="~/Stylesheets/main.css" rel="stylesheet" />
    <script src="~/Scripts/lib/modernizr.js"></script>
    <link href="~/Fonts/foundation-icons.css" rel="stylesheet"/>

    @RenderSection("styles", required: false)
    @RenderSection("headscripts", required: false)

    @Html.Partial("_AppInsights")
</head>
<body>
    @*@Html.ActionLink("Application name", "Index", "Home")
        @Html.Partial("_LoginPartial")*@

    @RenderBody()

    <script src="~/Scripts/lib/jquery.js"></script>
    <script src="~/Scripts/lib/foundation.js"></script>
    <script src="~/Scripts/init.js"></script>

    <script>
        $(document).foundation();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
