<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objektprint från Modern Mäklarmedia</title>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,100,200,300,500,600,700|Quicksand:400,300,700" rel="stylesheet" type="text/css">
    <link href="~/Stylesheets/main.css" rel="stylesheet" />
    <script src="~/Scripts/lib/modernizr.js"></script>

    @RenderSection("styles", required: false)

    @Html.Partial("_AppInsights")
</head>
<body>
    @*@Html.ActionLink("Application name", "Index", "Home")
        @Html.Partial("_LoginPartial")*@

    <div class="contain-to-grid fixed">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1 class="logo">
                        <span class="first-line">Modern</span>
                        <span class="second-line">Mäklarmedia</span>
                    </h1>
                </li>
            </ul>
        </nav>
    </div>

    @RenderBody()

    <footer>
        <div class="row">
            <div class="logo">
                <span class="first-line">Modern</span>
                <span class="second-line">Mäklarmedia</span>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/lib/jquery.js"></script>
    <script src="~/Scripts/lib/foundation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
