@using Caribbean.Aruba.Web.ViewModels
@model FullTopbarLayoutViewModel

@{
    Layout = "_Layout.cshtml";
}

@*<div class="contain-to-grid fixed full-topbar">*@
<div class="contain-to-grid full-topbar">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 class="logo">
                    <span class="first-line">Modern</span>
                    <span class="second-line">Mäklarmedia</span>
                </h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li @(Model.ActiveMenuItem == MenuItem.Start ? "class=active" : "")>@Html.ActionLink("Start", "Index", "Home")</li>
                <li @(Model.ActiveMenuItem == MenuItem.Trycksaksoversikt ? "class=active" : "")>@Html.ActionLink("Trycksaksöversikt", "Index", "Prints")</li>
            </ul>
        </section>
    </nav>
</div>

@RenderBody()

<footer>
    <div class="row">
        <div class="logo">
            <span class="first-line">Modern</span>
            <span class="second-line">Mäklarmedia</span>
        </div>
    </div>
</footer>

@section styles
{
    @RenderSection("styles", required: false)
}

@section headscripts {
    @RenderSection("headscripts", required: false)
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(window).one("scroll", function () { console.log("Scroll") });
        });
    </script>

    @RenderSection("scripts", required: false)
}
