@model Caribbean.Aruba.Web.ViewModels.PrintTemplates.ChoosePrintTemplateModel
@{
    Layout = "../Shared/_LayoutFullTopbarAndFooter.cshtml";
    var urlHelper = new UrlHelper(Context.Request.RequestContext);
}

<div class="page page-choose-printtemplate">
    <div class="row information-box">
        <div class="progress-bar clearfix">
            @if (string.IsNullOrEmpty(Model.SelectedObjectId))
            {
                <div class="step active clearfix">
                    <div class="step-number active">1</div>
                    <div class="step-label">Välj trycksaksmall</div>
                </div>
                <div class="step clearfix">
                    <div class="step-number">2</div>
                    <div class="step-label">Välj objekt</div>
                </div>
            }
            else
            {
                <div class="step clearfix">
                    <div class="step-number active">1</div>
                    <div class="step-label">Välj objekt</div>
                </div>
                <div class="step active clearfix">
                    <div class="step-number">2</div>
                    <div class="step-label">Välj trycksaksmall</div>
                </div>
            }
        </div>
        <div class="purple-box">
            <p>
                Biblioteket nedan innehåller tillgängliga trycksaksmallar. Saknar ni en mall för något speciellt?<br />
                Inga problem – vi kan tillverka mallar för nästan vad som helst.
            </p>
        </div>
    </div>

    <div class="row box-with-header">
        <h3>Trycksaksbibliotek - klicka för att gå vidare</h3>
        <div class="content extra-padding-top-bottom">
            <ul class="small-block-grid-1 medium-block-grid-2 printtemplate-list">
                @foreach (var t in Model.AvailablePrintTypes)
                {
                    var url = string.IsNullOrEmpty(Model.SelectedObjectId) ?
                        urlHelper.Action("Choose", "RealEstateObjects", new { t = t.Slug }) :
                        urlHelper.Action("Create", "Prints", new { t = t.Slug, o = Model.SelectedObjectId });

                    <li>
                        <a href="@url">
                            <div class="printtemplate clearfix">
                                <img src="@t.ThumbnailUrl" alt="@t.SubType" />
                                <div class="description-box">
                                    <h4>@t.Type</h4>
                                    <h5>@t.SubType</h5>
                                    <p class="description">@t.Description</p>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section styles
{
    <style>
        html {
            background: #282828 url('/Images/notes-514998_1920.jpg') no-repeat center center fixed;
        }
    </style>
}
