@model Caribbean.Aruba.Web.ViewModels.Page.EditPageViewModel

<ul>
    @foreach (var i in Model.ObjectImages)
    {
        <li>@i.ThumbnailUrl</li>
    }
</ul>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.HiddenFor(m => m.PrintId)
    @Html.Hidden("PageId", Model.Page.Id)
    <button type="submit" class="btn btn-primary">Klar!</button>
}

<div id="page-editor">
    <iframe src="@Model.Page.PreviewUrl" frameborder="0" scrolling="no" style="width: @(Model.Page.Width + "px"); height: @(Model.Page.Height + "px;")"></iframe>
</div>

@section scripts
{
    <script src="~/Scripts/vendor/jquery.guillotine.min.js"></script>
    <script src="~/Scripts/init.js"></script>
    <script src="~/Scripts/design-page.js"></script>
    <script>
        $(document).ready(function() {
            window.pixel.designpage.initPage($('#page-editor'), @(Model.Page?.Width ?? 0));
        });
    </script>

}
