@using System.Globalization
@using Caribbean.Models.Database
@model Caribbean.Aruba.Web.ViewModels.Prints.IndexPrintsViewModel
@{
    Layout = "../Shared/_LayoutFullTopbarAndFooter.cshtml";
}


<div class="page page-prints">
    <div class="row box-with-header">
        <h3>Komplett arbetshistorik</h3>
        <div class="content">
            @if (TempData["warning"] != null)
            {
                <div class="row">
                    <div class="small-12 column">
                        <div data-alert class="alert-box warning">
                            @TempData["warning"]
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                </div>
            }

            @foreach (var p in Model.Prints.OrderByDescending(p => p.CreationTimeUtc))
            {
                <div class="row row-print @(p.PdfStatus == JobStatus.Completed ? "ready" : "")" data-printid="@p.Id">
                    <div class="small-2 column">
                        <img src="@p.ThumbnailUrl" alt="@p.Address" />
                    </div>
                    <div class="small-3 column">
                        <strong>@Html.DisplayFor(m => p.Address)</strong><br />
                        Skapad @p.CreationTimeUtc.ToLocalTime().ToString("d MMMM", new CultureInfo("sv-SE"))
                    </div>
                    <div class="small-2 column">
                        @Html.DisplayFor(m => p.TemplateType)<br />
                        @Html.DisplayFor(m => p.TemplateName)
                    </div>
                    <div class="small-2 column">@Html.DisplayFor(m => p.Status)</div>
                    <div class="small-3 column action-buttons">
                        <a data-id="@p.Id" class="button tiny right delete">Ta bort</a>
                        @Html.ActionLink("Redigera", "Edit", new {id = p.Id}, new {role = "button", @class = "button tiny right"})
                        @Html.ActionLink("Hämta PDF", "GetPdf", new {id = p.Id}, new {role = "button", @class = "button tiny right get-pdf disabled", title = "PDF:n håller på att genereras, vänta en stund så är den strax klar."})
                        @Html.ActionLink("Hämta PDF", "GetPdf", new {id = p.Id}, new {role = "button", @class = "button tiny right get-pdf enabled"})
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section styles
{
    <style>
        html {
            background: #282828 url('/Images/toner-581905_1920.jpg') no-repeat center center fixed;
        }
    </style>
}

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        $(document).ready(function () {
            $(".get-pdf").click(function () { $(".alert-box a.close").click(); });
            $(".delete").click(function() {
                if (window.confirm("Är du säker på att du vill ta bort trycksaken?")) {
                    window.location = "/trycksaker/radera/" + $(this).data("id");
                }
            });

            var notificationsHub = $.connection.notificationsHub;
            notificationsHub.client.allPagePdfsReady = function (printId) {
                $("[data-printid='" + printId + "']").addClass("ready");
            };
            notificationsHub.client.pagePdfNotReady = function (printId) {
                $("[data-printid='" + printId + "']").removeClass("ready");
            };
            $.connection.hub.start().done(function () {
                $(".row-print").each(function() {
                    notificationsHub.server.subscribeToPrintChanges($(this).data("printid"));
                });
            });
        });
    </script>
}
