@using System.Globalization
@model Caribbean.Aruba.Web.ViewModels.Prints.IndexPrintsViewModel
@{
    Layout = "../Shared/_LayoutFullTopbarAndFooter.cshtml";
}


<div class="page page-prints">
    <div class="row box-with-header">
        <h3>Komplett arbetshistorik</h3>
        <div class="content">
            @if (TempData["warning"] != null)
            {
                <div class="row">
                    <div class="small-12 column">
                        <div data-alert class="alert-box warning">
                            @TempData["warning"]
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                </div>
            }

            @foreach (var p in Model.Prints)
            {
                <div class="row row-print">
                    <div class="small-2 column">
                        <img src="@p.ThumbnailUrl" alt="@p.Address" />
                    </div>
                    <div class="small-3 column">
                        <strong>@Html.DisplayFor(m => p.Address)</strong><br />
                        Skapad @p.CreationTimeUtc.ToLocalTime().ToString("d MMMM", new CultureInfo("sv-SE"))
                    </div>
                    <div class="small-2 column">
                        @Html.DisplayFor(m => p.TemplateType)<br />
                        @Html.DisplayFor(m => p.TemplateName)
                    </div>
                    <div class="small-2 column">@Html.DisplayFor(m => p.Status)</div>
                    <div class="small-3 column action-buttons">
                        @Html.ActionLink("Hämta PDF", "GetPdf", new { id = p.Id }, new { role = "button", @class = "button tiny right get-pdf" })
                        @Html.ActionLink("Redigera", "Edit", new { id = p.Id }, new { role = "button", @class = "button tiny right" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section styles
{
    <style>
        html {
            background: #282828 url('/Images/toner-581905_1920.jpg') no-repeat center center fixed;
        }
    </style>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".get-pdf").click(function () { $(".alert-box a.close").click(); });
        });
    </script>
}
