@using Caribbean.Aruba.Web.ViewModels
@model Caribbean.Aruba.Web.ViewModels.LoginViewModel

<div class="page-login">
    <div class="box">
        <h1>Modern Mäklarmedia</h1>

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("RememberMe", "True")

                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix"><img src="~/Images/envelope.svg" width="30" height="25"/></span>
                    </div>
                    <div class="small-10 columns">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "E-postadress" })
                    </div>
                </div>

                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix"><img src="~/Images/key.svg" width="30" height="25"/></span>
                    </div>
                    <div class="small-10 columns">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Lösenord" })
                    </div>
                </div>
                
                <input type="submit" value="Logga in" class="button login large expand" />
            }
        </section>
    </div>
</div>

@section styles
{
    <style>
        html {
            background: #282828 url('/Images/tree-129r0560.jpg') no-repeat center center fixed;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}